<link rel="stylesheet" href="navbar.css">

<nav class="navbar navbar-expand-md navbar-dark main-nav">
  <div class="container-fluid">
    <a ng-href="#!home" class="nav-logo-text">
      <h4>DsTools</h4>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#dscatalog-navbar"
      aria-controls="dscatalog-navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="dscatalog-navbar">
      <ul class="navbar-nav offset-md-2 main-menu">
        <li>
            <a ng-href="#!home">HOME</a>
          </li>
          <li>
            <a ng-href="#!produtos">PRODUTOS</a>
          </li>
          <li>
            <a ng-href="#!sobre">SOBRE</a>
          </li>
          <li>
            <a ng-href="#!admin">ADMIN</a>
          </li>
      </ul>
    </div>
  </div>
</nav>
