.home-container {
    padding: 10px;
    font-size: 18px;
    border: 1px solid red;
    text-align: center;
}

.home-card {
    border: 1px solid red;
    padding:10px 10px 30px 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    box-shadow: 0px 4px 10px rgba(0, 0,0 , 0.5);
}


.home-content-container {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    padding:10px 10px 30px 10px;
    align-items: center;
}

.home-content-container h1 {
    border: 1px solid red;
    border: 1em;
    color: #263238;
    margin-bottom: 20px;
    min-width: 260px;
}

.home-content-container p {
    border: 1px solid red;
    color: #9E9E9E;
    font-size: 0.6em;
    margin-bottom: 30px;
    min-width: 260px;
}

.home-image-container {
    border: 1px solid red;
    padding: 50px 10px;
;
}

.home-image-container img {
    border: 1px solid red;
    width: 100%;
}

.home-content-container button {
    height: 35px;
}

@media (min-width:576px) {
    .home-container {
        padding: 20px;
        font-size: 23px;
    }

    .home-image-container img {
        width: 480px;
        padding: 50px;
    }

    .home-content-container h1{
        min-width: 480px;
    }

    .home-content-container p{
        min-width: 480px;
    }

    .home-content-container button { 
        min-width: 350px;
        height: 45px;
        margin-bottom: 30px;
    }
}

@media (min-width:768px) {
    .home-container {
        padding: 40px;
        font-size: 23px;
    }

    .home-image-container img {
        width: 600px;
        margin-bottom: 50px;
        padding: 100px;
    }

    .home-content-container h1{
        width: 480px;
        margin-bottom: 50px;
    }

    .home-content-container p{
        width: 480px;
        margin-bottom: 50px;
    }

    .home-content-container button { 
        width: 450px;
        height: 50px;
        margin-bottom: 50px;
    }
}

@media (min-width:992px) {
    .home-container {
        padding: 40px;
        font-size: 45px;
    }

    .home-image-container img {
        min-width: 700px;
        margin-bottom: 60px;
        padding: 125px;
    }

    .home-content-container h1{
        width: 600px;
        font-size: 50px;
        margin-bottom: 80px;
    }

    .home-content-container p{
        width: 600px;
        margin-bottom:80px;
    }

    .home-content-container button { 
        width: 600px;
        height: 50px;
    }

}

@media (min-width:1200px) {
    .home-card {
        display: flex;
        flex-direction: row;
    }

    .home-container{
        height: 600px;
    }

    .home-content-container {
        justify-content: space-between;
    }

    .home-content-container h1{
        margin-bottom: 30px;
    }

    .home-content-container p{
        margin-bottom:30px
    }

    .home-content-container button { 
        height: 50px;       
        margin-bottom: 30px;
    }

    .home-image-container img {
        width: 40%;
    }
}

