.product-card {
    margin-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0, 0.5);
}

.card-top-container {
    text-align: center;
    padding: 12px 0;
    border-bottom: 1px solid #E1E1E1;
}
.card-top-container img {
    width: 140px;
    height: 140px;
}

.card-bottom-container {
    text-align: left;
    padding: 15px 15px 20px 15px;
}

.card-bottom-container h6 {
    font-weight: bold;
    font-size: 14px;
    color: #263238;
}

.product-price-container {
    display: flex;
}

.product-price-container span {
font-size: 14px;
color: #9E9E9E;
margin-right: 5px;
}

.product-price-container .fullprice {
font-size:16px;
color: #fd7e14;
margin-right: 10px; 
text-decoration:line-through; 
}

.product-price-container .promo {
font-size: 16px;
color: #0f6c46;
margin-right: 3px; 
}

.finance-price {
    display: flex;
}


.finance-price span {
    color: #9E9E9E;
    margin-right: 5px;
}

.finance-price h3{
    font-size: 16px;
    color: #0f6c46;
    margin-right: 3px; 
}
